<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>

<form action="/recipes/<%=@recipe.id%>" method=POST>
  <input type="hidden" name= "_method" value=PATCH>

  <label for="name">Name:</label>
  <input id="name" type="text" name="recipe[name]"/>

  <label for="ingredients">Ingredients:</label>
  <input id="ingredients" type="text" name="recipe[ingredients]"/>

  <label for="cook_time">Ingredients:</label>
  <input id="cook_time" type="text" name="recipe[cook_time]"/>

  <input type="submit"/>
</form>
