<h1>Grandma's recipes</h1>

<h3>My recipes:</h3>
<ul>
<% @recipes.each do |recipe| %>
  <li>
    <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
    <p>Ingredients: <%= recipe.ingredients %></p>
    <p>Preparation Time: <%= recipe.cook_time %> minutes</p>
  </li>
<% end %>
</ul>

<br>
<br>

<form method="post" action="/recipes/new">
  <input type="submit" value="Submit a new recipe">
</form>
